body{
  display: block;
  background-image: url("../images/back/back_hex3.png");
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Exo', sans-serif;
  font-size: 1.2rem;
}

/* Styles for navbar */
.navbar-dark .navbar-brand {
  line-height: 1.7rem;
  font-weight: 600;
  font-size: 1.6rem;
  color: #7F7F7F;
}
.navbar-dark .navbar-brand:focus {
  line-height: 1.7rem;
  font-weight: 600;
  font-size: 1.6rem;
  color: #7F7F7F;
}

.navbar-dark .navbar-brand:hover {
  color: #A0A0A0;
}

#k {
  color: #DBA135;
}

.navbar-dark .navbar-brand:hover #k {
  color: #F4BB35;
}

#t {
  color: #35478C;
}

.navbar-dark .navbar-brand:hover #t {
  color: #526CBF;
}

.navbar.scrolled {
    background: #000000F4;
    transition: background 500ms;
}

.navbar {
    background: #000000AA;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.dropdown-item:hover {
  background: #A0A0A0AA;
}

@media (max-width:992px) {
  .navbar {
      background: #000000F4;
  }

  body{
    background-size: 450%;
  }
}

/* styles for image slider */
@media (max-width:992px) {
  #carouselExampleInterval{
    margin-top: 80px;
  }
}

/* Styles for main content - index*/
.card-text {
  text-align: justify;
}

.card-title {
  font-weight: bold;
}

/* Zoom In #1 */
.obj-zoom-in {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.obj-zoom-in:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

/* Contact section  */
.contact-social {
  background: #000000BB;
  padding-top: 30px;
  padding-bottom: 5px;
}

.link-hover-light:hover {
  color: #FFFFFF;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}


/* Footer */
.foterxd {
  background: #000000F4;
}

/* flotating button  */
.float {
	position:fixed;
	bottom:20px;
	right:20px;
	text-align:center;
}

/* Styles for main content - about*/

.jumbotron {
  margin-top: 80px;
  margin-bottom: 0px;
}

.text-bold {
  font-weight: 700;
}

.text-gray {
  color: rgb(170, 170, 170);
}

.team {
  background: #000000DD;
  margin-bottom: 20px;
  padding: 30px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Styles for 3d Printing page */

.printing {
  margin-top: 80px;
}

.islider {
  /* position:fixed;
  top: 50px;
  bottom: 50px;
  text-align:center; */
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* width: 900px; */
}

.float-close {
	position:fixed;
	top:100px;
	right:20px;
	text-align:center;
}

/* Styles for Projects page */

.background_is {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: #000000AA;
}
